# Decision Tree (bank numeric.xlsx)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [2]:
bank = pd.read_excel("bank numeric.xlsx")
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Y
0,30,1,0,2,0,1787,0,0,2,19,10,79,1,-1,0,0,0
1,33,10,0,1,0,4789,1,1,2,11,5,220,1,339,4,2,0
2,35,2,2,3,0,1350,1,0,2,16,4,185,1,330,1,2,0
3,30,2,0,3,0,1476,1,1,0,3,6,199,4,-1,0,0,0
4,59,6,0,1,0,0,1,0,0,5,5,226,1,-1,0,0,0

In [3]:
bank.columns

Index([' age', ' job ', ' marital ', ' education ', ' default ', ' balance ',
       ' housing ', ' loan ', ' contact ', ' day ', ' month ', ' duration ',
       ' campaign ', ' pdays ', ' previous ', ' poutcome ', 'Y'],
      dtype='object')

In [4]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 age           4521 non-null int64
 job           4521 non-null int64
 marital       4521 non-null int64
 education     4521 non-null int64
 default       4521 non-null int64
 balance       4521 non-null int64
 housing       4521 non-null int64
 loan          4521 non-null int64
 contact       4521 non-null int64
 day           4521 non-null int64
 month         4521 non-null int64
 duration      4521 non-null int64
 campaign      4521 non-null int64
 pdays         4521 non-null int64
 previous      4521 non-null int64
 poutcome      4521 non-null int64
Y              4521 non-null int64
dtypes: int64(17)
memory usage: 600.5 KB

In [6]:
bank.drop([' day ', ' month '],axis=1,inplace=True)
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome,Y
0,30,1,0,2,0,1787,0,0,2,79,1,-1,0,0,0
1,33,10,0,1,0,4789,1,1,2,220,1,339,4,2,0
2,35,2,2,3,0,1350,1,0,2,185,1,330,1,2,0
3,30,2,0,3,0,1476,1,1,0,199,4,-1,0,0,0
4,59,6,0,1,0,0,1,0,0,226,1,-1,0,0,0

In [7]:
X = bank.drop('Y',axis=1)
y = bank['Y']

In [8]:
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome
0,30,1,0,2,0,1787,0,0,2,79,1,-1,0,0
1,33,10,0,1,0,4789,1,1,2,220,1,339,4,2
2,35,2,2,3,0,1350,1,0,2,185,1,330,1,2
3,30,2,0,3,0,1476,1,1,0,199,4,-1,0,0
4,59,6,0,1,0,0,1,0,0,226,1,-1,0,0

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Y, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# *Training of the model with the help of*  **CART(Gini Index) Algorithm**

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
dtree = DecisionTreeClassifier()

In [14]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
predictions = dtree.predict(X_test)

In [16]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [17]:
cla_CART = classification_report(y_test,predictions)
print("Classification Report:\n\n",cla_CART)

Classification Report:

               precision    recall  f1-score   support

           0       0.92      0.91      0.92      1205
           1       0.35      0.40      0.38       152

   micro avg       0.85      0.85      0.85      1357
   macro avg       0.64      0.65      0.65      1357
weighted avg       0.86      0.85      0.86      1357

In [18]:
con_CART = confusion_matrix(y_test,predictions)
print("Confusion matrix:\n\n",con_CART)

Confusion matrix:

 [[1094  111]
 [  91   61]]

In [20]:
acc_CART = accuracy_score(y_test,predictions)*100
print("Accuracy:",acc_CART,"%")

Accuracy: 85.11422254974208 %

# *Training of the model with the help of*  **ID3(Entropy) Algorithm**

In [22]:
dtree = DecisionTreeClassifier(criterion='entropy')

In [23]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
predictions = dtree.predict(X_test)

In [25]:
cla_ID3 = classification_report(y_test,predictions)
print("Classification Report:\n\n",cla_ID3)

Classification Report:

               precision    recall  f1-score   support

           0       0.92      0.91      0.91      1205
           1       0.31      0.34      0.33       152

   micro avg       0.84      0.84      0.84      1357
   macro avg       0.61      0.62      0.62      1357
weighted avg       0.85      0.84      0.85      1357

In [26]:
con_ID3 = confusion_matrix(y_test,predictions)
print("Confusion matrix:\n\n",con_ID3)

Confusion matrix:

 [[1091  114]
 [ 100   52]]

In [27]:
acc_ID3 = accuracy_score(y_test,predictions)*100
print("Accuracy:",acc_ID3,"%")

Accuracy: 84.22991893883567 %